.topbar {
    width: 100%;
    height: 5rem;
    background-color: var(--pl-dark-2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar .topbar__item {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--pl-light-3);
    padding: 0 .8rem;
}
.topbar .topbar__item:first-child {
    cursor: pointer;
    border-right: 2px solid var(--pl-light-3);
}

.topbar .topbar__item span {
    margin-right: 0.4rem;
}

.topbar .topbar__item .topbar__item--icon {
    transform: translateY(10%);
}

.topbar .topbar__item .topbar__item--avatar {
    width: 2.4rem;
    height: 2.4rem;
    border: 2px solid var(--pl-light-3);
    border-radius: 50%;
}