.ws-path {
  font-size: 2em;
  font-weight: 600;
  color: var(--pl-dark-3);
}

.btn {
  border-radius: 7px;
  background-color: var(--pl-light-2);
  color: var(--pl-dark-3);
  padding: 0.5em 1.5em;
  font-size: 18px;
  width: 15vw;
  font-weight: 700;
}

.btn-primary {
  margin: 0 .4rem;
  padding: .4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  border: .5px solid var(--pl-dark-3);
  border-radius: 8px;
  background-color: var(--pl-light-1);
  cursor: pointer;
}

.btn-primary:hover {
  border: .5px solid var(--pl-light-2);
  color: var(--pl-light-2);
  background-color: var(--pl-dark-3);
}

.btn > a {
  background-color: var(--pl-light-2);
  color: var(--pl-dark-3);
}

.btn:hover,
.btn:hover > a {
  background-color: var(--pl-dark-3);
  color: var(--pl-light-1);
}

.btn-add {
  display: flex;
  align-items: center;
  background-color: var(--pl-light-2);
  padding: 0.3em 1.3em;
  border-radius: 8px;
  margin-left: 1rem;
  font-size: 1.2em;
  font-weight: 700;
}

.btn-add:hover {
  background-color: var(--pl-dark-2);
  color: var(--pl-light-1);
}

